<section class="minimal-controls">
  <% if show_point_color %>
    <%= render "point_color_picker" %>
  <% end %>

  <% if show_zoom_controls %>
    <%= render "control_zoom" %>
  <% end %>

  <% if show_mode_control %>
    <%= render "control_mode" %>
  <% end %>

  <% if show_submit_control %>
    <%= render "control_submit" %>
  <% end %>

  <% if show_points_count %>
    <%= render "points_count" %>
  <% end %>
</section>
